:root {
  --cor-fundo: #0d0d0e;
  --cor-secundaria: #151518;
  --cor-destaque: rgb(181, 176, 33);
  --destaque-dourado: rgb(191, 161, 87);
  --texto-principal: #e1dbdb;
  --texto-secundario: #c9c9c9;
  --transicao: 0.6s ease;
  --sombra: 0 0 15px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../img/logo-dark.png);
  background-size: cover;
  background-position: center;
  color: var(--texto-principal);
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 90px;
  background: linear-gradient(180deg, #141416, #0e0e0d);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: var(--sombra);
  padding: 20px 10px;
  transition: var(--transicao);
  overflow: hidden;
}

.sidebar:hover {
  width: 240px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  transition: var(--transicao);
}

.sidebar:hover .logo img {
  transform: scale(1.05);
}

.sidebar .logo img {
  width: 45px;
  transition: var(--transicao);
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  position: relative;
  margin: 15px 0;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--texto-secundario);
  padding: 12px;
  border-radius: 12px;
  transition: var(--transicao);
}

.sidebar ul li a:hover {
  background: var(--destaque-dourado);
  color: #fff;
  transform: translateX(4px);
}

.sidebar ul li a i {
  min-width: 40px;
  font-size: 1.4rem;
  text-align: center;
}

.sidebar ul li a span {
  opacity: 0;
  white-space: nowrap;
  transition: var(--transicao);
}

.sidebar:hover ul li a span {
  opacity: 1;
}

/* Conteudo  MAIN */

.main-content {
  flex: 1;
  margin-left: 90px;
  padding: 40px;
  transition: var(--transicao);
  background-color: rgba(13, 13, 14, 0.5);
}


.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content-header h1 {
    font-size: 2.5rem;
    color: var(--cor-destaque);
    font-weight: 600;
}

.bloco-conta {
    background-color: rgba(18, 18, 18, 0.8);
    border-radius: 10px;
    min-height: 79vh;
    padding: 3rem 0;
}

.bloco-conta h2 {
    margin-left: 3.5rem;
}

